.body_bg {
  font-family: "Lato", sans-serif;
  /* background-image: url('../images/nebula.jpg'); */
  background-image: url('../images/background_pattern.png');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.profile-container {
  text-align: center;
  z-index: 0;
  margin-top: 15vh;
  margin-bottom: -4vh;
}

.profile {
    max-width: 400px;
    border: 5px solid white;
    border-radius: 50%;
}

.name-container {
  text-align: center;
  z-index: 0;
}

.name-text {
  font-size: 4rem;
  color: white;
  z-index: 0;
  margin-bottom: 0;
}

.text-change-container {
  text-align: center;
  z-index: 0;
}

.coding-language {
  font-size: 3rem;
  color:white;
  margin-right: 15px;
  margin-top: 0;
  white-space: nowrap;
}

.text-changer {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.text {
  font-size: 3rem;
  color: white;
  margin-top: 0;
}

.text::after {
  content: "";
  animation: change-text 10s infinite;
}

@keyframes change-text {
  0% {
    content: "Analyst"
  }
  30% {
    content: "Analyst"
  }
  50% {
    content: "Developer"
  }
  100% {
    content: "Engineer"
  }
}

.knowledge-base-container {
  margin-left: 2.7%;
  padding-left: 5%;
  padding-right: 5%;
  width: 85%;
  margin-bottom: 8vh;
  /*alt no margin-left, padding-left: 10%; width: 80% */
}

.knowledge-bg {
  background-color: rgba(255,255,255,0.3);
  padding-top:5px;
  padding-bottom:20px;
  border-radius: 5px;
}

.knowledge-title {
  font-size: 35px;
  color:white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.knowledge-imgs-container {
  text-align: center;
  margin-top: 10px;
}

.knowledge-img {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: white;
}

